.Form{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.Modal{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.FormWrapper{
  background-color: #fefefe;
  margin: 64px 0;
  padding: 20px 40px;
  border: 1px solid #888;
  width: 600px;
  display: flex;
  flex-direction: column;
}

.FieldWrapper{
  margin-left: 0;
}

.ButtonWrapper{
  margin-bottom: 16px;
  justify-content: space-between;
  display: flex;
}